* {
	margin:0;
	padding:0;
	font-family: 'Source Sans Pro';
}

/*--Fuentes--*/
@font-face{
	font-family:'Nunito-BoldItalic';
	src:url(Fuentes/Nunito-BoldItalic.ttf);
	font-style:normal;
	font-weight:400;
}
@font-face{
	font-family:'SourceSansPro-Regular';
	src: url(Fuentes/SourceSansPro-Regular.ttf);
	font-style: normal;
 	font-weight: 400;
}
@font-face{
	font-family:'Ephesis-Regular';
	src: url(Fuentes/Ephesis-Regular.ttf);
	font-style: normal;
 	font-weight: 400;
}
@font-face{
	font-family: 'SourceSansPro-SemiBoldItalic';
	src: url(Fuentes/SourceSansPro-SemiBoldItalic.ttf);
	font-style: normal;
 	font-weight: 600;
}
@font-face{
	font-family: 'SourceSansPro-Bold';
	src: url(Fuentes/SourceSansPro-Bold.ttf);
	font-style: normal;
 	font-weight: 700;
}
@font-face{
	font-family:'SourceSansPro-LightItalic';
	src:url(Fuentes/SourceSansPro-LightItalic.ttf);
	font-style:normal;
	font-weight:400;
}

/*--Header--*/
header nav ul{
	background-color:#212121;
	display:block;
}
.indice_li{
	display:none;
}
.indice :hover > ul li{
	display:inline-block;
}
.indice_li > a{
	text-decoration:none;
}
.wallpaper{
	background: url(../Imagenes/Fondos/FondoCentrado.jpg);
	background-repeat: no-repeat;
	height:100vh;
	background-position: center;
	background-size: cover;
	position: center;
}
.introduccion{
	width:50%;
}
.introduccion_div{
	display: block;
    text-align: center;
    position: relative;
    top: 10vh;
}

.Introduccion_p{
	font-family:'Nunito-BoldItalic';
	color: white;
	font-size:2.5em;
	font-weight:1em;
	text-align:center;
	line-height:0.7em;
	margin:10px;
}
#introduccion{
	font-family:'Ephesis-Regular';
	font-size:1.5em;
	font-weight:1em;
	padding-bottom:10px;
	padding-top:10px;
	margin:10px;
}

/*--Body--*/	
.Desarrollo {
	width: 100%;
	height: auto;
	text-align:center;
	padding-top: 5em;
}
/*
article{
	margin:0.8% 0.8% 15%;
	width:60%;
	padding-top:0.3%;
	position:relative;
	top:;
	bottom:;
	right:;
	left:20%;
}
*/
h2{
	font-size:3em;
	font-weight: 400;
	padding-top:auto;
}
.content{
	font-family:'SourceSansPro-LightItalic';
	font-size:1.8em;
	line-height:normal;
	margin:1em auto 3em;
}
.content_div{
	display: block;
	margin:auto;
	width:40em;
}
#Que_es_div{
	margin-bottom:0.2%;
	padding-bottom:;
	width:20%;
	height:9%;
	position:relative;
	top:;
	bottom:;
	right:;
	left:40%;
}
#Que_es{
	width:60%;
}
#Que_necesito_div{
	margin-bottom:0.2%;
	padding-bottom:;
	width:20%;
	height:9%;
	position:relative;
	top:;
	bottom:;
	right:;
	left:40%;
}
#Que_necesito{
	width:60%;
}
#Como_generar_div{
	margin-bottom:0.2%;
	padding-bottom:;
	width:20%;
	height:9%;
	position:relative;
	top:;
	bottom:;
	right:;
	left:40%;
}
#Como_generar{
	width:60%;
}
/*--Enlaces--*/
a{
	color: #76448A;
}
a:hover{
	color: orangered;
}
/*--footer--*/
footer{
	width:100%;
	background-color:#000;
	padding-top: 1em;
	padding-bottom: 1em;
}
footer p{
	color:#fff;
	font-family:'SourceSansPro-Regular';
	font-size:1em;
	text-align:center;
}